.nav-container {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100vw;
    height: var(--bar-height);
    background-color: var(--color-secondary);
    color: var(--color-text-light);

    .nav-wrapper {
        display: flex;
        align-items: center;
        height: var(--bar-height);

        a, ul {
            align-self: last baseline;
            padding-bottom: 0.8rem;
            margin-left: 0.8rem;
        }
    }

    ul li {
        display: inline-block;
        margin: 0 3.2rem 0 0;

        svg {
            margin-right: 0.4rem; 
        }
    }
}