.scoreboard {
  display: flex;
  flex-direction: column;
  width: 60%;

  .up,
  .down {
    display: flex;
    justify-content: center;
    /* border: 1px solid var(--color-border); */

    .name,
    .score {
      text-align: center;
      padding: 0.8rem;
    }

    .ball,
    .strike,
    .out {
      display: flex;
    }
  }

  .up {
    .guests,
    .home {
      width: 40%;
    }

    .inning {
      width: 20%;
    }

    .score,
    .name {
      border: 1px solid var(--color-border);
    }

    .name {
      background-color: var(--color-primary);
      color: var(--color-bg-light);
      font-weight: bolder;
    }

    .score {
      background-color: var(--color-bg-light);
    }
  }

  .down {
    justify-content: space-around;
    background-color: var(--color-bg-light);

    .score {
      width: 100px;
    }
  }
}
