.header-container {
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--bar-height);
    color: var(--color-text-light);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--bar-height);

    h1 {
        cursor: pointer;
    }

    .auth-container a {
        padding: 1.2rem 0.8rem;
    }
}