.game-card-table {
  vertical-align: middle;
  margin-bottom: 0;

  .runs,
  .hits,
  .errors {
    width: 46px;
    text-align: center;
  }

  .is-team {
    font-weight: bold;

    svg {
      color: var(--color-primary);
    }
  }

  .play {
    text-align: right;

    .btn {
      margin: 0;
    }
  }
}

.see-recap {
  font-size: 0.9rem;
  color: var(--color-primary);
  text-align: right;
  margin: 0.2rem 0.8rem;
}
