.game-card-table {
    vertical-align: middle;

    .runs, .hits, .errors {
        width: 46px;
        text-align: center;
    }

    .is-team {
        font-weight: bold;

        svg {
            color: var(--color-primary);
        }
    }
}