.teams-container {
  display: flex;
  justify-content: center;

  h3 {
    margin-bottom: 1.6rem;
  }

  .team {
    width: calc(50% - 0.8rem);
    text-align: center;

    &:first-child {
      padding-right: 0.8rem;
    }

    &:last-child {
      padding-left: 0.8rem;
    }
  }
}

.alert-container {
  width: 50%;
  margin: -0.8rem auto 2.4rem;
}
